@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

h1 {
  font-weight: 200;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 0;
}
ul li {
  color: white;
}

input {
  outline: none;
}

.top-bottom {
  background: linear-gradient(0deg, white 15%, rgba(66, 162, 170, 0.25) 97%);
}

.bottom-top {
  background: linear-gradient(0deg, rgba(66, 162, 170, 0.25) 0%, white 97%);
}

a.btn, button.btn, a.btn-primary:hover, button.btn-primary:hover {
  background-color: #42a2aa;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  border-color: #42a2aa;
}

div.jumbotron {
  background-color: #f1f1f2;
}

div.form-group input.form-control, div.form-group select.form-control {
  height: calc(2.25rem + .8rem);
  font-size: 1.5rem;
}

div.basic {
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  padding: 7rem 0;
}
div.basic h2 {
  font-size: 6rem;
}

a.list-group-item.active {
  background-color: #42a2aa;
  border-color: #42a2aa;
}

a.list-group-item {
  padding: 0.75rem 0.75rem;
}

div.about-header {
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
div.about-header div.about-header-pic {
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.about-header div.about-header-pic img {
  width: 75vw;
  height: 75%;
}
div.about-header div.about-header-bio {
  padding: 4rem 2rem;
}
div.about-header div.about-header-bio p {
  margin: auto;
  text-align: center;
  width: 75%;
  font-size: 1.7rem;
}

div.about-banner div.jumbotron {
  margin-bottom: 1rem;
}
div.about-banner div.jumbotron div.about-header {
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
div.about-banner div.jumbotron div.about-header h1.display-4 {
  font-size: 5rem;
  text-align: center;
  padding: 1.8rem 0;
}
div.about-banner div.jumbotron div.about-header p.lead {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  width: 75%;
}

div.about-sect1 {
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  display: flex;
  flex-direction: row;
  padding: 5rem 1rem;
  justify-content: space-between;
}
div.about-sect1 div.about-bio {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.about-sect1 div.about-bio h1 {
  font-size: 3.5rem;
  font-weight: 200;
}
div.about-sect1 div.about-bio p {
  font-size: 2rem;
  letter-spacing: 120%;
}
div.about-sect1 div.sidebar {
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
div.about-sect1 div.sidebar img {
  flex-basis: 100%;
}

div.search-box {
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  padding: 2rem 1rem;
}
div.search-box div.search-header h1 {
  font-size: 2.5rem;
}
div.search-box div.search-header p {
  font-size: 1.7rem;
}

div.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
div.search-form nav {
  width: 100%;
}
div.search-form ul.letters {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.search-form ul.letters li.page-item {
  flex-basis: 3.8%;
}
div.search-form ul.letters li.page-item a.page-link {
  padding: 0.5rem 0;
  text-transform: uppercase;
}

div.search-form-results {
  min-height: 35vh;
}

select.custom-select {
  margin: 2rem 0;
}

@media screen and (max-width: 700px) {
  div.search-form ul.letters li.page-item {
    flex-basis: 10%;
  }
}

/*# sourceMappingURL=basis.css.map */
